<app-base-grid [titulo]="'productos'  | translate " [config]="config">

</app-base-grid>
<!--
  [bodyTemplate]="bodyTemplate"
   <ng-template #bodyTemplate let-dato>
      <td>
        {{ dato.SECTOR_ECONOMICO }}
      </td>
      <td>
        {{ dato.NOMBRE_PRODUCTO }}
      </td>
    <td>
      <p-image [preview]="true" src="/portalcenpromype/{{ dato.LOGO }}" [alt]="dato.NOMBRE_PRODUCTO" width="250"></p-image>
    </td>
    <td>
      {{ dato.ESTATUS | estadoPipe }}
    </td>
    <td>
      {{ dato.ACCESO }}
    </td>
  </ng-template>
-->