<div>
    <div class="row encabezado">
        <div class="col-12 col-xl-4 col-lg-4 col-md-4 ">
            <img class="img-fluid" src="./assets/images/logos-cenpromype-b-n-06-1024x262.png">
        </div>
        <div class="col-12 col-xl-5 col-lg-5 col-md-4 p-as-center">
            <div class="w-100 p-text-center">
                <h3 class="text-white" [innerHTML]="'titulo' | translate | sanitizerHTML"></h3>
            </div>
        </div>
        <div class="col-12 col-xl-2 col-lg-3 col-md-4 p-ml-auto">
            <div class="row align-items-center h-100">
                <div class="col-auto">
                    <div class="form-group">
                        <p-dropdown [options]="[ { id: 'es', desc: 'Español'  }, { id: 'en', desc: 'English'  } ]" optionValue="id" optionLabel="desc" (onChange)="onChangeIdioma(idioma.value)" [(ngModel)]="idiomaSeleccionado" #idioma>
                        </p-dropdown>
                    </div>
                </div>
                <div class="col-auto">
                    <p-splitButton [label]="localStorage.getCurrentUsername()" icon="pi pi-user" [model]="items" styleClass="p-button-primary"></p-splitButton>
                </div>
            </div>
        </div>
    </div>
    <!--
    <div class="row">
        <div class="col-8">

            <p-carousel [value]="[ '07.png', '08.png', '09.png' ]" [numVisible]="1" [numScroll]="1" [showNavigators]="false" [showIndicators]="false" [autoplayInterval]="2000" [circular]="false">
                <ng-template let-item pTemplate="item">
                    <div class="w-100 h-100">
                        <div style="width: 85%;  background: rgb(18,83,157);
                        background: linear-gradient(90deg, rgba(18,83,157,1) 0%, rgba(18,83,157,1) 88%, rgba(255,255,255,1) 100%); ">
                            <img src="./assets/images/elementos{{item}}" class="opacity-30 h-auto w-100" />
                        </div>

                    </div>


                </ng-template>
            </p-carousel>
        </div>

        <div class="col-4">
            <div class="row ">
                <div class="col-auto">
                    <div class="form-group">
                        <p-dropdown [options]="[ { id: 'es', desc: 'Español'  }, { id: 'en', desc: 'English'  } ]" optionValue="id" optionLabel="desc" (onChange)="onChangeIdioma(idioma.value)" [(ngModel)]="idiomaSeleccionado" #idioma>
                        </p-dropdown>
                    </div>
                </div>
                <div class="col-auto">
                    <p-splitButton [label]="localStorage.getCurrentUsername()" icon="pi pi-user" [model]="items" styleClass="p-button-primary"></p-splitButton>
                </div>
            </div>
        </div>

</div>-->



</div>
<div class="w-100 d-none">
    <div class="p-2" style="box-shadow: 0 0 3px rgb(48, 48, 48);">
        <h3 class="m-0">{{ "administrador" | translate}}</h3>
    </div>
</div>
<div>
    <div class="row">
        <div class="col-md-3">
            <app-header>
            </app-header>
        </div>
        <div class="col-md-9">
            <section>
                <p-confirmDialog #cd icon="pi pi-exclamation-triangle" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
                    <ng-template pTemplate="header">
                        {{ "mensajes.cuadroDialogo.confirmar" | translate }}
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <button type="button" pButton icon="pi pi-check" label="{{ 'mensajes.cuadroDialogo.si' | translate }}" (click)="cd.accept()"></button>
                        <button type="button" pButton icon="pi pi-cancel" label="{{ 'mensajes.cuadroDialogo.no' | translate }}" (click)="cd.reject()"></button>
                    </ng-template>
                </p-confirmDialog>
                <div id="tabla-datos">
                    <router-outlet></router-outlet>
                </div>

            </section>
        </div>
    </div>


</div>

<app-footer></app-footer>