<div class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button class="p-button-raised p-button" style="width: auto;" type="button" *ngIf="botonEstado('nuevo')" (click)="nuevo()">
                {{ "botones.nuevo" | translate}} 
            </button>

            <button class="p-button-secondary p-ml-1 p-button" style="width: auto;" icon="pi pi-refresh" type="button" *ngIf="botonEstado('recargar')" (click)="recargarDatos()">
                    <i class="pi pi-refresh"></i>
              </button>
            <div class="p-d-flex p-ai-center p-jc-between" *ngFor="let comando of commandos; let i=index">
                <p-button type="button" (onClick)="comando.event($event, datoSeleccionado)" [label]="comando.name">
                </p-button>
            </div>
        </ng-template>

        <ng-template pTemplate="right">
            <span class="p-input-icon-left">
                <i class="pi pi-search" (click)="filtrar(inputTextGeneral.value, 'GENERAL', 'lk')"></i>
                <input (keydown.enter)="filtrar(inputTextGeneral.value, 'GENERAL', 'lk')" type="text" #inputTextGeneral pInputText>
            </span>
        </ng-template>
    </p-toolbar>

</div>
<p-table #dt [customSort]="true" sortMode="multiple" [loading]="cargando" [value]="datos" [totalRecords]="totalRecord" [lazy]="true" responsiveLayout="scroll" (onLazyLoad)="cargaTabla($event)" [paginator]="true" [rows]="10" [showCurrentPageReport]="false"
    [rowsPerPageOptions]="[10, 30, 50]" (onPage)="OnPage($event)">
    <ng-template pTemplate="caption">
        <div class="row" *ngIf="titulo != ''">
            <div class="col-12 text-md-center">
                <h2>
                    {{ titulo }}
                </h2>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th [pSortableColumn]="t.columna" *ngFor="let t of columnas; let i=index">
                {{ t.nombre | encabezadoPipe | translate }}
                <p-sortIcon [field]="t.columna"> </p-sortIcon>
            </th>
            <th></th>
        </tr>
        <tr>
            <th *ngFor="let t of columnas; let i=index">
                <ng-container *ngIf="t.filter != null">
                    <ng-container *ngIf="t.filter.type == 'dropdown'">
                        <p-dropdown [options]="dropDownList[t.columna]" [(ngModel)]="filtrosAplicados[t.columna]" (onChange)="filtrar($event.value, t.filter.field, 'eq')" optionValue="id" optionLabel="descripcion"></p-dropdown>
                        <!--<p-columnFilter [field]="t.filter.field" matchMode="equals" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                            <ng-template pTemplate="filter" let-value>

                            </ng-template>
                        </p-columnFilter>-->
                    </ng-container>
                    <ng-container *ngIf="t.filter.type == 'textbox'">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search" (click)="filtrar(inputTextFilter.value, t.filter.field, 'eq')"></i>
                            <input type="text" #inputTextFilter pInputText>
                        </span>
                        <!--<p-columnFilter [field]="t.filter.field" matchMode="equals" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                            <ng-template pTemplate="filter" let-value>

                            </ng-template>
                        </p-columnFilter>-->
                    </ng-container>
                </ng-container>
            </th>
            <th></th>
        </tr>
        <tr *ngIf="datos.length == 0">
            <td class="text-center" [attr.colspan]="columnas.length">
                NO HAY REGISTROS <span *ngIf="hayFiltrosAplicados"> PARA LOS FILTROS APLICADOS </span>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-dato>
        <tr>
            <ng-container [ngTemplateOutlet]="bodyTemplate" [ngTemplateOutletContext]="{$implicit:dato}">
            </ng-container>
            <ng-container *ngIf="bodyTemplate == null">
                <td *ngFor="let d of _config.dataTable.columns; let i=index">
                    <ng-container *ngIf="d.pipes == null">
                        {{ dato[d.columna] }}
                    </ng-container>
                    <ng-container *ngIf="d.pipes != null">
                        <div [innerHTML]="dato[d.columna + '_formated'] | sanitizerHTML"></div>
                    </ng-container>
                </td>
            </ng-container>
            <td class="p-text-right"> <button *ngIf="botonEstado('editar')" type="button" style="width: auto;" (click)="editar(dato)" class="p-button-raised p-button p-mr-2">
                {{ "botones.editar" | translate }}
            </button>
                <button *ngIf="botonEstado('borrar')" style="width: auto;" type="button" (click)="borrar(dato)" class="p-button-danger p-button">
                {{ "botones.borrar" | translate }}
              </button>
            </td>
        </tr>

    </ng-template>
</p-table>
<!--(ngSubmit)="enviarFormulario()"*/-->
<p-dialog (visibleChange)="cambioVisible($event)" [(visible)]="mostrarFormulario" [style]="{width: '50vw'}">
    <p-tabView [(activeIndex)]="tabViewIndex">
        <p-tabPanel *ngFor="let formulario of formularios; let i=index" header="{{ formulario.titulo }}">
            <input #controlKey type="hidden" [value]="primarykey.value" [name]="primarykey.name" />
            <form class="formulario_grid" [id]="'formulario' + i " role="form" [formGroup]="formGroups[ '_formulario' + i ]">
                <div class="p-fluid">
                    <div class="p-field" *ngFor="let control of formulario.controls">
                        <label class="form-label"> {{  control.label | encabezadoPipe | translate }} </label>
                        <app-control-form [config]="{ data: datoSeleccionado, modo: modo, control: control  }"></app-control-form>
                    </div>
                    <!--<div class="p-field">
                        <div class="p-grid">
                            <div class="p-col-6">
                                <button type="button" *ngIf="i>0" class="btn btn-primary" matStepperPrevious> {{ "botones.anterior"  | translate }}</button>
                                <button type="button" class="btn btn-primary" *ngIf="i != (formularios.length - 1)" class="btn btn-primary" matStepperNext>{{ "botones.siguiente" | translate  }}</button>
                            </div>
                            <div class="p-col-6">

                            </div>
                        </div>
                    </div>-->
                    <!--<div class="p-dialog-footer" *ngIf="i == (formularios.length - 1)">
                        <button type="submit" [disabled]="!enviarHabilitado" class="btn btn-primary">
                            <span *ngIf="!enviarHabilitado"  class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            <span *ngIf="enviarHabilitado">  {{ ("botones." +  (modo == "nuevo" ? "guardar" : "actualizar")) | translate }} </span>
                          </button>
                        <button type="button" (click)="mostrarFormulario = false" class="btn btn-warning">
                                {{ "botones.cancelar" | translate }}
                          </button>
                    </div>-->
                </div>
            </form>
        </p-tabPanel>
    </p-tabView>
    <!-- <mat-stepper style="background-color: transparent;" #stepper>
        <mat-step *ngFor="let formulario of formularios; let i=index" [stepControl]="formGroups[ '_formulario' + i ]" [label]="formulario.titulo">
          
        </mat-step>
    </mat-stepper>-->
    <ng-template pTemplate="footer">

        <button form="formulario" type="button" (click)="enviarFormulario()" [disabled]="!enviarHabilitado" class="btn btn-primary">
            <span *ngIf="!enviarHabilitado"  class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span *ngIf="enviarHabilitado">  {{ ("botones." +  (modo == "nuevo" ? "guardar" : "actualizar")) | translate }} </span>
          </button>
        <button type="button" (click)="mostrarFormulario = false" class="btn btn-warning">
                {{ "botones.cancelar" | translate }}
        </button>
    </ng-template>
</p-dialog>
<!--
<p-dialog (visibleChange)="cambioVisible($event)" [(visible)]="mostrarFormulario" [style]="{width: '50vw'}">
    <form id="formulario" role="form" #form [formGroup]="formulario">
        <div class="p-fluid">
            <input #controlKey type="hidden" [value]="primarykey.value" [name]="primarykey.name" />
            <div class="p-field" *ngFor="let control of controles">
                <label class="form-label"> {{  control.label | encabezadoPipe | translate }} </label>
                <app-control-form [datoSeleccionado]="datoSeleccionado" [control]="control"></app-control-form>
            </div>
        </div>

    </form>
    <ng-template pTemplate="footer">

        <button form="formulario" type="button" (click)="enviarFormulario()" [disabled]="!enviarHabilitado" class="btn btn-primary">
            <span *ngIf="!enviarHabilitado"  class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span *ngIf="enviarHabilitado">  {{ ("botones." +  (modo == "nuevo" ? "guardar" : "actualizar")) | translate }} </span>
          </button>
        <button type="button" (click)="mostrarFormulario = false" class="btn btn-warning">
                {{ "botones.cancelar" | translate }}
          </button>
    </ng-template>
</p-dialog>-->