<div class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button class="p-button-primary p-button" style="width: auto;" type="button" *ngIf="botonEstado('nuevo')" (click)="nuevo()">
                {{ "botones.nuevo" | translate}} 
            </button>

            <button class="p-button-secondary p-ml-1 p-button" style="width: auto;" type="button" *ngIf="botonEstado('recargar')" (click)="recargarDatos()">
                    <i class="pi pi-refresh p-m-1"></i>
              </button>
            <div class="p-ml-1 -p-d-flex p-ai-center p-jc-between" *ngFor="let comando of commandos; let i=index">
                <p-button type="button" [disabled]="!selectedRows" (onClick)="comando.event($event, selectedRows)" [label]="comando.name">
                </p-button>
            </div>
        </ng-template>

        <ng-template pTemplate="right">
            <span class="p-input-icon-left">
                <i class="pi pi-search" (click)="filtrar(inputTextGeneral.value, 'GENERAL', 'lk')"></i>
                <input (keydown.enter)="filtrar(inputTextGeneral.value, 'GENERAL', 'lk')" type="text" #inputTextGeneral pInputText>
            </span>
        </ng-template>
    </p-toolbar>

</div>
<p-table #dt [customSort]="true" sortMode="multiple" [loading]="cargando" [value]="datos" [totalRecords]="totalRecord" [lazy]="true" responsiveLayout="scroll" (onLazyLoad)="cargaTabla($event)" [paginator]="true" [rows]="10" [showCurrentPageReport]="false"
    [rowsPerPageOptions]="[10, 30, 50]" (onPage)="OnPage($event)" [(selection)]="selectedRows">
    <ng-template pTemplate="caption">
        <div class="row" *ngIf="cargandoFormulario">
            <p-progressBar mode="indeterminate"></p-progressBar>
        </div>
        <div class="row" *ngIf="titulo || '' == ''">
            <div class="col-12 text-md-center">
                <h2>
                    {{ titulo }}
                </h2>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th *ngIf="allowSelection"></th>
            <th [pSortableColumn]="t.columna" *ngFor="let t of columnas; let i=index">
                <div class="p-d-flex p-jc-between p-ai-center">
                    {{ t.nombre + ".nombre_campo" | encabezadoPipe | translate }}
                    <p-sortIcon [field]="t.columna"> </p-sortIcon>
                    <div class="p-d-inline-flex p-ml-auto">
                        <i class="pi pi-question-circle" *ngIf='(t.nombre + ".descripcion" | encabezadoPipe | translate) != ""' pTooltip='{{ t.nombre + ".descripcion" | encabezadoPipe | translate }}'></i>
                    </div>
                </div>


            </th>
            <th></th>
        </tr>
        <tr>
            <th *ngIf="allowSelection"></th>
            <th *ngFor="let t of columnas; let i=index">
                <ng-container *ngIf="t.filter != null">
                    <ng-container *ngIf="t.filter.type == 'dropdown'">
                        <p-dropdown [options]="dropDownList[t.columna]" [(ngModel)]="filtrosAplicados[t.columna]" (onChange)="filtrar($event.value, t.filter.field, 'eq')" optionValue="id" optionLabel="descripcion"></p-dropdown>
                    </ng-container>
                    <ng-container *ngIf="t.filter.type == 'textbox'">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search" (click)="filtrar(inputTextFilter.value, t.filter.field, 'eq')"></i>
                            <input type="text" #inputTextFilter pInputText>
                        </span>
                    </ng-container>
                </ng-container>
            </th>
            <th></th>
        </tr>
        <tr *ngIf="datos.length == 0">
            <td class="text-center" [attr.colspan]="columnas.length">
                NO HAY REGISTROS <span *ngIf="hayFiltrosAplicados"> PARA LOS FILTROS APLICADOS </span>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-dato>
        <tr (dblclick)="dblClick(dato)" class="cursor-pointer">
            <td *ngIf="allowSelection">
                <ng-container *ngTemplateOutlet="selectionMode == 'single' ? single : multi"></ng-container>
                <ng-template #single>
                    <p-tableRadioButton *ngIf="allowSelection" [value]="dato"></p-tableRadioButton>
                </ng-template>
                <ng-template #multi>
                    <p-tableCheckbox *ngIf="allowSelection" [value]="dato"></p-tableCheckbox>
                </ng-template>
            </td>
            <ng-container [ngTemplateOutlet]="bodyTemplate" [ngTemplateOutletContext]="{$implicit:dato}">
            </ng-container>
            <ng-container *ngIf="bodyTemplate == null">
                <td *ngFor="let d of _config.dataTable.columns; let i=index">
                    <ng-container *ngIf="d.pipes == null">
                        {{ dato[d.columna] }}
                    </ng-container>
                    <!--Si existen Pipes, se mostrar el valor transformado  -->
                    <ng-container *ngIf="d.pipes != null">
                        <div [innerHTML]="dato[d.columna + '_formated'] | sanitizerHTML"></div>
                    </ng-container>
                </td>
            </ng-container>
            <td class="p-text-right">
                <i class="pi pi-pencil text-primary p-mr-2 cursor-pointer" *ngIf="botonEstado('editar')" (click)="editar(dato)"> 

                </i>
                <i class="pi pi-minus-circle text-danger p-mr-2 cursor-pointer" *ngIf="botonEstado('borrar')" (click)="borrar(dato)"> 

                </i>
                <!-- <button [disabled]="cargandoFormulario" *ngIf="botonEstado('editar')" type="button" style="width: auto;" (click)="editar(dato)" class="p-button p-button-primary p-mr-2">
                {{ "botones.editar" | translate }}
                </button>
                <button [disabled]="cargandoFormulario" *ngIf="botonEstado('borrar')" style="width: auto;" type="button" (click)="borrar(dato)" class="p-button p-button-danger">
                {{ "botones.borrar" | translate }}
                </button>-->
            </td>
        </tr>
    </ng-template>
</p-table>
<!--(ngSubmit)="enviarFormulario()"*/-->
<p-dialog (visibleChange)="cambioVisible($event)" [(visible)]="mostrarFormulario" [style]="{width: '50vw'}">
    <p-tabView class="formulario-dinamico" [(activeIndex)]="tabViewIndex">
        <p-tabPanel [disabled]="formulario.mustBeCreated && modo == 'nuevo'" *ngFor="let formulario of formularios; let i=index">
            <ng-template pTemplate="header">
                <span pTooltip="El registro debe estar guardado antes de proceder a esta opción" tooltipPosition="top" [tooltipStyleClass]="i == 0  || (formulario.mustBeCreated && modo != 'nuevo')   ? 'p-d-none' : ''">
                    {{ formulario.titulo }}
                </span>

            </ng-template>

            <input #controlKey type="hidden" [value]="primarykey.value" [name]="primarykey.name" />
            <form class="formulario_grid" [id]="'formulario' + i " role="form" [formGroup]="formGroups[ '_formulario' + i ]">
                <div class="p-fluid">
                    <div class="p-field" *ngFor="let control of formulario.controls">
                        <label class="form-label"> {{  control.label + '.nombre_campo'   | encabezadoPipe | translate }} 
                            <i class="pi pi-question-circle" *ngIf='(control.label + ".descripcion" | encabezadoPipe | translate) != ""' pTooltip='{{ control.label + ".descripcion" | encabezadoPipe | translate }}'></i>
                        </label>

                        <app-control-form [config]="{ data: datoSeleccionado, modo: modo, control: control  }"></app-control-form>
                    </div>
                    <!--<div class="p-field">
                        <div class="p-grid">
                            <div class="p-col-6">
                                <button type="button" *ngIf="i>0" class="btn btn-primary" matStepperPrevious> {{ "botones.anterior"  | translate }}</button>
                                <button type="button" class="btn btn-primary" *ngIf="i != (formularios.length - 1)" class="btn btn-primary" matStepperNext>{{ "botones.siguiente" | translate  }}</button>
                            </div>
                            <div class="p-col-6">

                            </div>
                        </div>
                    </div>-->
                    <!--<div class="p-dialog-footer" *ngIf="i == (formularios.length - 1)">
                        <button type="submit" [disabled]="!enviarHabilitado" class="btn btn-primary">
                            <span *ngIf="!enviarHabilitado"  class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            <span *ngIf="enviarHabilitado">  {{ ("botones." +  (modo == "nuevo" ? "guardar" : "actualizar")) | translate }} </span>
                          </button>
                        <button type="button" (click)="mostrarFormulario = false" class="btn btn-warning">
                                {{ "botones.cancelar" | translate }}
                          </button>
                    </div>-->
                </div>
            </form>
        </p-tabPanel>
    </p-tabView>
    <ng-template pTemplate="footer">

        <button type="button" (click)="enviarFormulario(false)" [disabled]="!enviarHabilitado" class="btn btn-primary">
            <span *ngIf="!enviarHabilitado"  class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span *ngIf="enviarHabilitado">  {{ ("botones." +  (modo == "nuevo" ? "guardar"  : "actualizar"   ) + ( existUploadControls ? "_cargar" : "" ))  | translate }} </span>

          </button>
        <button type="button" (click)="enviarFormulario()" [disabled]="!enviarHabilitado" class="btn btn-primary">
            <span *ngIf="!enviarHabilitado"  class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span *ngIf="enviarHabilitado">  {{ ("botones." +  (modo == "nuevo"  ? "guardar_cerrar" : "actualizar_cerrar") + ( existUploadControls ? "_cargar" : "" ) )  | translate }} </span>
        </button>

        <button type="button" (click)="mostrarFormulario = false" class="btn btn-warning">
                {{ "botones.cancelar" | translate }}
        </button>
    </ng-template>
</p-dialog>