<ul class="nav flex-column pl-3 pt-3" [ngClass]="{ 'menu' : menuCargado }">
    <li class="nav-item text-end" *ngIf="menuCargado">
        <a href="#" class="m-2">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </a>
    </li>

    <li class="nav-item" *ngFor="let m of menu; let i = index">
        <a class="nav-link collapsed nav-link cursor-pointer" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapse1" [href]="'#collapse'  + i.toString() ">
             {{ "menu." + m.MENU | translate }}  <i class="fa fa-caret-down" aria-hidden="true"></i> <i class="fa fa-caret-up" aria-hidden="true"></i> </a>
        <ul class="nav flex-column collapse" [id]="'collapse' + i.toString() ">
            <li class="nav-item" *ngFor="let s of m.SUBMENU" [class.active]="urlActiva(s.url)" [class.p-d-none]="s.url == '#'">

                <a #enlace class="nav-link cursor-pointer" [class.disabled]="s.url == '#'" (click)="menuClick(s.url);"> {{ "submenu." + m.MENU + "." +  s.nombre | translate }} </a>
            </li>
        </ul>
    </li>

    <ng-container *ngIf="!menuCargado">
        <p-skeleton width="100%" styleClass="p-mb-2"></p-skeleton>
        <p-skeleton width="100%" styleClass="p-mb-2"></p-skeleton>
        <p-skeleton width="100%" styleClass="p-mb-2"></p-skeleton>
        <p-skeleton width="100%" styleClass="p-mb-2"></p-skeleton>
        <p-skeleton width="100%" styleClass="p-mb-2"></p-skeleton>
        <p-skeleton width="100%" styleClass="p-mb-2"></p-skeleton>
    </ng-container>

</ul>